@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Italic.woff2') format("woff2"), url('../fonts/Inter-Italic.woff') format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Regular.woff2') format("woff2"), url('../fonts/Inter-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-SemiBold.woff2') format("woff2"), url('../fonts/Inter-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-1: white;
  --text-1: black;
  --text-3: #525252;
  --gradient-stop-1: #ffeded;
  --gradient-stop-2: #ffeedb;
  --text-4: #757575;
  --background-4: #ebebeb;
  --background-2: #f7f7f7;
  --background-3: #f0f0f0;
  --text-2: #333;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  background-color: var(--background-1);
  color: var(--text-1);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  color: var(--text-1);
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 96px;
  font-weight: 600;
  line-height: 1;
}

h2 {
  color: var(--text-1);
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
}

h5 {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

h6 {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

p {
  color: var(--text-3);
  letter-spacing: -.01em;
  max-width: 60ch;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
}

a {
  color: var(--text-1);
  letter-spacing: -.01em;
  font-weight: 400;
  text-decoration: none;
  transition: transform .25s, opacity .25s;
  display: inline-block;
}

a:hover {
  opacity: .84;
}

a:active {
  transform: scale(.99);
}

ul, ol {
  color: var(--text-3);
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 0;
  font-size: 20px;
}

li {
  color: var(--text-3);
  letter-spacing: -.01em;
  margin-bottom: 4px;
  margin-left: 24px;
  padding-left: 20px;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  letter-spacing: .015em;
  margin-bottom: 8px;
  font-weight: 500;
  display: block;
}

strong {
  font-weight: 500;
}

blockquote {
  background-image: linear-gradient(135deg, var(--gradient-stop-1), var(--gradient-stop-2));
  color: var(--text-1);
  border: 1px #000;
  border-radius: 12px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 40px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

figcaption {
  color: var(--text-4);
  text-align: center;
  letter-spacing: .015em;
  margin-top: 12px;
  font-size: 16px;
}

.style-guide-nav {
  width: 240px;
  height: 0;
  display: flex;
  position: fixed;
  inset: 0% auto 0 0;
}

.style-guide-menu-brand {
  margin-top: 40px;
  margin-bottom: 48px;
  margin-left: 40px;
  padding-left: 0;
}

.style-guide-block {
  margin-bottom: 32px;
}

.form-error {
  color: var(--text-1);
  background-color: #fce3e3;
  border-radius: 6px;
  margin-top: 24px;
  padding: 24px;
  font-weight: 600;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

.form {
  margin-bottom: 8px;
}

._12-columns {
  flex-flow: wrap;
  place-content: stretch center;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

._12-columns.align-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.form-radio-button, .form-checkbox {
  margin-bottom: 16px;
  padding-left: 24px;
}

.column {
  flex-flow: column;
  flex: 0 auto;
  align-items: stretch;
  min-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.column.desk-3 {
  flex: none;
  width: 25%;
}

.column.desk-9 {
  width: 75%;
}

.column.desk-4 {
  width: 33.33%;
}

.spacer {
  background-color: var(--background-4);
  height: 48px;
}

.spacer._48 {
  background-color: #0000;
  border-radius: 6px;
  width: 48px;
}

.spacer._128 {
  background-color: #0000;
  width: 128px;
  height: 128px;
}

.spacer._96 {
  background-color: #0000;
  width: 96px;
  height: 96px;
}

.spacer._32 {
  background-color: #0000;
  border-radius: 6px;
  width: 32px;
  height: 32px;
}

.spacer._80 {
  background-color: #0000;
  width: 80px;
  height: 80px;
}

.spacer._24 {
  text-transform: uppercase;
  background-color: #0000;
  width: 24px;
  height: 24px;
}

.spacer._16 {
  background-color: #0000;
  width: 16px;
  height: 16px;
  display: block;
}

.spacer._64 {
  background-color: #0000;
  width: 64px;
  height: 64px;
}

.spacer._8 {
  background-color: #0000;
  width: 8px;
  height: 8px;
}

.spacer._4 {
  background-color: #0000;
  width: 4px;
  height: 4px;
}

.spacer._40 {
  width: 48px;
  height: 48px;
}

.text-input {
  background-color: var(--background-2);
  color: var(--text-1);
  border: 2px solid #0000;
  border-radius: 6px;
  min-height: 56px;
  margin-bottom: 16px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 1.5;
  transition: border .25s, background-color .25s;
}

.text-input:hover {
  background-color: var(--background-3);
}

.text-input:focus {
  border: 2px solid var(--text-3);
}

.text-input::placeholder {
  color: var(--text-3);
}

.text-input.form {
  background-color: var(--background-2);
  min-height: 120px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.4em;
}

.text-input.form:hover {
  background-color: var(--background-3);
}

.paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.paragraph.small {
  font-size: 16px;
  line-height: 1.5;
}

.paragraph.large {
  font-size: 28px;
  line-height: 1.5;
}

.radio-button {
  border-width: 2px;
  border-color: var(--text-1);
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-left: -24px;
  margin-right: 10px;
}

.radio-button.w--redirected-checked {
  border-width: 6px;
  border-color: #2b95ff;
}

.visible-spacer {
  background-color: var(--background-4);
  border-radius: 4px;
  display: inline-block;
}

.form-dropdown {
  background-color: var(--background-2);
  color: var(--text-3);
  border: 2px solid #0000;
  border-radius: 6px;
  width: 100%;
  min-height: 56px;
  margin-bottom: 16px;
  padding: 16px 24px 16px 22px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}

.form-dropdown:hover {
  background-color: var(--background-3);
}

.form-dropdown:focus-visible, .form-dropdown[data-wf-focus-visible] {
  border: 2px solid var(--text-3);
}

.form-dropdown::placeholder {
  color: #999;
  font-size: 15px;
}

.rich-text {
  text-align: left;
  line-height: 1.5;
  display: block;
}

.rich-text h3 {
  margin-top: 72px;
  margin-bottom: 24px;
}

.rich-text a {
  text-decoration: underline;
}

.rich-text h1 {
  margin-top: 88px;
  margin-bottom: 40px;
}

.rich-text h2 {
  margin-top: 88px;
  margin-bottom: 32px;
}

.rich-text h4 {
  margin-top: 64px;
  margin-bottom: 24px;
}

.rich-text h5 {
  margin-top: 48px;
  margin-bottom: 24px;
}

.rich-text h6 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.rich-text img {
  border-radius: 8px;
  width: 100%;
}

.rich-text p {
  margin-bottom: 32px;
}

.style-guide-colour-block {
  width: 12.5%;
  padding-right: 16px;
  display: inline-block;
}

.style-guide-colour-block.gradient {
  width: 100%;
}

.check-box {
  border-width: 2px;
  border-color: var(--text-1);
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-left: -24px;
  margin-right: 10px;
}

.check-box.w--redirected-checked {
  background-color: #2b95ff;
  background-position: 50%;
  background-size: 16px;
  border-color: #2b95ff;
}

.color-block {
  background-color: var(--background-1);
  border-radius: 5px;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.color-block.background-4 {
  background-color: var(--background-4);
}

.color-block.background-3 {
  background-color: var(--background-3);
}

.color-block.gradient {
  background-image: linear-gradient(135deg, var(--gradient-stop-1), var(--gradient-stop-2));
}

.color-block.background-2 {
  background-color: var(--background-2);
}

.color-block.text-4 {
  background-color: var(--text-4);
}

.color-block.text-3 {
  background-color: var(--text-3);
}

.color-block.text-1 {
  background-color: var(--text-1);
}

.color-block.text-2 {
  background-color: var(--text-2);
}

.form-success {
  text-align: left;
  background-color: #ecfce3;
  border-radius: 6px;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.style-guide-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: 240px;
  display: flex;
}

.style-guide-section {
  z-index: 0;
  background-color: var(--background-1);
  text-align: left;
  padding: 112px 80px;
  position: relative;
}

.style-guide-section.background-gradient {
  background-image: linear-gradient(135deg, var(--gradient-stop-1), var(--gradient-stop-2));
}

.style-guide-colour-grid {
  flex-wrap: wrap;
  margin-top: 24px;
  display: flex;
}

.field-block {
  z-index: 1;
  border: 1px #0000;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  min-width: 50px;
  min-height: 20px;
  margin-bottom: 8px;
  display: flex;
}

.heading {
  font-family: Inter, sans-serif;
}

.heading.medium {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
}

.heading.extra-small {
  text-align: right;
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

.heading.small {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}

.heading.regular {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
}

.heading.extra-large {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
}

.heading.large {
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.15;
}

.button-secondary {
  background-color: var(--background-2);
  color: var(--text-1);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 6px;
  flex: none;
  min-height: 56px;
  padding: 14px 24px 15px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  transition: transform .25s, background-color .25s;
}

.button-secondary:hover {
  background-color: var(--background-3);
  opacity: 1;
}

.button-secondary:active {
  background-color: var(--background-4);
  transform: scale(.98);
}

.button-secondary.small {
  min-height: 40px;
  padding: 9px 20px;
  font-size: 14px;
}

.style-guide-section-header {
  margin-bottom: 48px;
}

.text-box {
  max-width: 700px;
}

.text-box._600px {
  max-width: 600px;
  min-height: 64px;
}

.text-box._500px {
  max-width: 500px;
  min-height: 64px;
}

.text-box._400px {
  max-width: 400px;
  min-height: 64px;
}

.text-box._800px {
  max-width: 800px;
  min-height: 64px;
}

.text-box._700px {
  max-width: 700px;
  min-height: 64px;
}

.text-box._900px {
  max-width: 900px;
}

.style-guide-label {
  color: var(--text-3);
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
}

.field-label {
  color: var(--text-1);
  font-size: 16px;
  font-weight: 500;
}

.block-quote {
  background-image: linear-gradient(135deg, var(--gradient-stop-1), var(--gradient-stop-2));
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.style-guide-nav-container {
  border-right: 1px solid var(--background-3);
  background-color: var(--background-1);
  width: 240px;
  height: 100vh;
}

.section {
  z-index: 0;
  overflow: hidden;
}

.section.banner {
  background-color: var(--background-2);
}

.text-color-accent {
  color: #4951f0;
}

.container {
  z-index: 0;
  max-width: 1600px;
  padding: 128px 96px 40px;
}

.container.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.container.centred {
  margin-left: auto;
  margin-right: auto;
}

.container.banner {
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
  display: flex;
}

.grid-2-column {
  grid-column-gap: 72px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: .5fr .5fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-items: start;
  display: grid;
}

.grid-2-column.align-baseline {
  align-items: baseline;
  margin-top: 128px;
}

.grid-2-column.vertically-centred {
  align-items: center;
}

.grid-2-column.stack-on-tablet.hero {
  grid-column-gap: 72px;
  grid-template-columns: .5fr .5fr;
}

.grid-2-column.iframe-display {
  display: block;
}

.work-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  column-count: 2;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  column-gap: 24px;
}

.work-grid.featured {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: grid;
}

.work-item {
  margin-bottom: 24px;
  transition: opacity .3s cubic-bezier(.165, .84, .44, 1), transform .3s cubic-bezier(.165, .84, .44, 1);
  position: static;
  overflow: hidden;
}

.work-item:hover {
  opacity: .8;
  transform: translate(0, -4px);
}

.work-item:active {
  transform: scale(.99)translate(0, -4px);
}

.nav-link {
  color: var(--text-3);
  align-items: center;
  margin-left: 6px;
  margin-right: 6px;
  padding: 6px 14px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: color .25s, background-color .25s, opacity .25s;
  display: flex;
}

.nav-link:hover {
  background-color: var(--background-2);
  opacity: .76;
  border-radius: 6px;
}

.nav-link.w--current {
  z-index: 1;
  background-color: var(--background-2);
  color: var(--text-1);
  border-radius: 6px;
}

.nav-link.w--current:hover {
  opacity: 1;
}

.nav {
  z-index: 1;
  background-color: var(--background-1);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  display: flex;
  position: sticky;
  top: 0;
}

.nav-menu {
  justify-content: flex-end;
  margin-right: -4px;
  display: flex;
}

.logo {
  padding-left: 0;
  display: flex;
}

.logo.w--current {
  padding-left: 0;
}

.nav-container {
  z-index: 0;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  height: 100%;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
  position: relative;
}

.logo-wrapper {
  flex: 1;
}

.logo-wrapper.mobile-menu, .logo-wrapper.mobile-menu-style-guide {
  display: none;
}

.footer-flex-container-top {
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  border-bottom: 1px solid var(--background-3);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-items: start;
  width: 100%;
  margin-bottom: 64px;
  padding-bottom: 64px;
  display: flex;
}

.footer-link {
  color: var(--text-1);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.footer-link.small {
  font-size: 14px;
}

.footer-list {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin-bottom: 0;
  display: flex;
}

.copyright-wrapper {
  grid-column-gap: 48px;
  display: flex;
}

.list-item {
  border-bottom: 1px solid var(--background-3);
  margin-bottom: 48px;
  padding-bottom: 48px;
}

.list-item.last-item {
  border-bottom-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.work-image {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.about-image-wrapper {
  margin-top: 136px;
  margin-bottom: 136px;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}

.work-link {
  width: 100%;
  height: 100%;
}

.work-link:hover {
  opacity: 1;
}

.work-link:active {
  transform: none;
}

.project-image {
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  overflow: hidden;
}

.collection-item {
  width: 100%;
}

.collection-item.embed {
  display: inline-block;
}

.inset-card {
  background-color: var(--background-2);
  text-align: center;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  padding: 128px 80px;
  display: flex;
}

.inset-card.background-gradient {
  background-image: linear-gradient(135deg, #ffeded, #ffeedb);
}

.nav-link-wrapper {
  position: relative;
}

.about-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.work-content {
  padding: 8px 28px 24px 0;
}

.collection-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.collection-list.hero-image {
  display: block;
}

.collection-list.two-images {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-license-images {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-license-fonts {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

.footer-list-item {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.nav-menu-styleguide {
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
}

.nav-link-styleguide {
  color: var(--text-3);
  align-items: center;
  padding: 8px 0 8px 16px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: background-color .25s, color .25s, opacity .25s;
  display: block;
}

.nav-link-styleguide:hover {
  opacity: .72;
}

.nav-link-styleguide.w--current {
  background-color: var(--background-2);
  color: var(--text-1);
  border-radius: 6px;
}

.button {
  background-color: var(--background-4);
  background-image: linear-gradient(135deg, var(--gradient-stop-1), var(--gradient-stop-2));
  color: var(--text-1);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 6px;
  flex: none;
  min-height: 56px;
  padding: 15px 24px 14px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  transition: transform .25s, opacity .25s;
}

.button:hover {
  opacity: .8;
}

.button:active {
  background-color: #4951f0;
  transform: scale(.98);
}

.button.small {
  min-height: 40px;
  padding: 9px 20px;
  font-size: 14px;
}

.license-image {
  border-radius: 8px;
}

.page-load-cover {
  z-index: 999;
  background-color: #181817;
  height: 100vh;
  display: none;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.visible-text-box {
  background-color: var(--background-4);
  border-radius: 6px;
}

.text-color-2 {
  color: var(--text-2);
}

.text-color-1 {
  color: var(--text-1);
}

.text-color-3 {
  color: var(--text-3);
}

.text-color-4 {
  color: var(--text-4);
}

.list-item-tight {
  border-bottom: 1px solid var(--background-3);
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.list-item-tight.last-item {
  border-bottom-style: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.project-details-wrapper {
  grid-column-gap: 16px;
  justify-content: space-between;
  display: flex;
}

.background-gradient {
  background-image: linear-gradient(135deg, var(--gradient-stop-1), var(--gradient-stop-2));
}

.footer-flex-container-bottom {
  grid-column-gap: 80px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  justify-items: start;
  width: 100%;
  display: flex;
}

.text-weight-semi-bold {
  font-weight: 600;
}

.text-span {
  text-decoration: line-through;
}

.html-embed {
  z-index: 5;
  aspect-ratio: auto;
  object-fit: fill;
  width: 100%;
  max-width: 1414px;
  height: 100%;
  margin-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  overflow: hidden;
}

.html-embed-2 {
  z-index: 5;
  object-fit: fill;
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: static;
  inset: 0%;
  overflow: hidden;
}

.background-video {
  z-index: 2;
  object-fit: fill;
  width: 1280px;
  height: 1042px;
  position: absolute;
  inset: 0%;
  overflow: visible;
}

.html-embed-3 {
  z-index: 2;
  object-fit: fill;
  width: 100%;
  height: 1042px;
  position: relative;
  overflow: hidden;
}

.video {
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin-bottom: 24px;
  overflow: hidden;
}

.list-item-2 {
  color: var(--text-2);
}

.list-item-3, .list-item-4 {
  color: var(--text-3);
}

.list-2 {
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .style-guide-nav {
    z-index: 1;
    background-color: var(--background-1);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 76px;
    display: flex;
    position: sticky;
    inset: 0 0 auto auto;
  }

  .style-guide-menu-brand {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .style-guide-block {
    margin-bottom: 40px;
  }

  .form-error {
    padding-left: 4px;
  }

  ._12-columns {
    flex-flow: wrap;
  }

  .column {
    width: 50%;
  }

  .column.desk-3 {
    flex-wrap: nowrap;
    width: 33.33%;
  }

  .form-dropdown {
    padding-right: 4px;
  }

  .form-success {
    padding-top: 4px;
  }

  .style-guide-content {
    border-left-style: none;
    width: 100%;
    margin-left: 0;
    position: static;
  }

  .style-guide-section {
    padding-left: 64px;
    padding-right: 64px;
  }

  .button-secondary {
    position: relative;
  }

  .style-guide-nav-container {
    background-color: #0000;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: auto;
    max-width: 1400px;
    height: 100%;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    position: relative;
  }

  .container {
    padding: 112px 64px;
  }

  .grid-2-column.stack-on-tablet {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .nav-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .logo-wrapper.mobile-menu-style-guide {
    margin-bottom: 64px;
    display: flex;
  }

  .footer-flex-container-top {
    flex-wrap: wrap;
  }

  .about-image-wrapper {
    margin-top: 112px;
    margin-bottom: 112px;
  }

  .inset-card {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .nav-link-wrapper {
    margin-left: -16px;
  }

  .menu-icon-line-bottom {
    background-color: var(--text-1);
    width: 32px;
    height: 3px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon-line-middle {
    background-color: var(--text-1);
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon-line-middle-inner {
    background-color: var(--text-1);
    width: 3px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    display: flex;
  }

  .menu-icon-line-top {
    background-color: var(--text-1);
    width: 32px;
    height: 3px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-button {
    margin-right: -20px;
    padding: 2px 0 0;
  }

  .menu-button.w--open {
    background-color: #0000;
  }

  .nav-menu-styleguide {
    border-right: 1px solid var(--background-4);
    background-color: var(--background-1);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    width: 280px;
    height: 100vh;
    margin-right: 0;
    padding: 29px 64px 64px;
  }

  .nav-link-styleguide {
    padding: 12px 0 12px 16px;
    font-size: 18px;
  }

  .nav-link-styleguide.w--current {
    background-position: 0%;
  }

  .button {
    position: relative;
  }

  .collection-list-wrapper {
    width: 100%;
  }

  .footer-flex-container-bottom {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  .style-guide-menu-brand.w--current {
    margin-top: 14px;
  }

  ._12-columns {
    flex-wrap: wrap;
  }

  .column.desk-4 {
    width: 100%;
  }

  .spacer {
    height: 40px;
  }

  .spacer._64 {
    width: 56px;
    height: 56px;
  }

  .style-guide-colour-block {
    width: 25%;
  }

  .style-guide-content {
    margin-left: 0;
  }

  .field-block {
    min-height: auto;
  }

  .heading.medium {
    font-size: 32px;
  }

  .heading.regular {
    font-size: 28px;
  }

  .heading.extra-large {
    font-size: 52px;
  }

  .heading.large {
    font-size: 40px;
  }

  .section.banner {
    display: none;
  }

  .grid-2-column {
    grid-column-gap: 32px;
    grid-row-gap: 56px;
    grid-template-columns: 1fr;
  }

  .work-grid {
    column-count: 1;
  }

  .nav-link {
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px 0 16px 16px;
    font-size: 20px;
  }

  .nav-link.w--current {
    background-position: 0%;
  }

  .nav-menu {
    border-right: 1px solid var(--background-3);
    background-color: var(--background-1);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    width: 280px;
    height: 100vh;
    margin-right: 0;
    padding: 28px 64px 64px;
  }

  .logo-wrapper {
    display: flex;
  }

  .logo-wrapper.mobile-menu {
    margin-bottom: 64px;
    display: flex;
  }

  .logo-wrapper.mobile-menu-style-guide {
    display: flex;
  }

  .footer-flex-container-top {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
  }

  .footer-list {
    grid-row-gap: 24px;
    flex-wrap: wrap;
  }

  .copyright-wrapper {
    grid-column-gap: 40px;
  }

  .list-wrapper.stacked-spacer {
    margin-bottom: 228px;
  }

  .about-image-wrapper {
    padding-top: 66%;
  }

  .collection-item {
    padding-left: 0;
    padding-right: 0;
  }

  .inset-card {
    padding: 80px 40px;
  }

  .menu-icon-line-middle {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .menu-button {
    margin-right: -20px;
    padding: 0;
  }

  .menu-button.w--open {
    background-color: #0000;
  }

  .nav-menu-styleguide {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    width: 280px;
    height: 100vh;
    margin-right: 0;
    padding-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .nav-link-styleguide {
    padding-left: 16px;
    padding-right: 0;
  }

  .nav-link-styleguide.w--current {
    background-position: 0%;
  }

  .footer-flex-container-bottom {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6, p, ul, ol {
    font-size: 18px;
  }

  li {
    padding-left: 12px;
    font-size: 18px;
  }

  blockquote {
    padding-left: 24px;
  }

  .style-guide-menu-brand {
    margin-left: 0;
  }

  .column {
    margin-bottom: 0;
  }

  .column.desk-3 {
    width: 100%;
  }

  .spacer._64 {
    width: 48px;
    height: 48px;
  }

  .text-input {
    width: 100%;
  }

  .paragraph {
    font-size: 18px;
  }

  .paragraph.large {
    font-size: 22px;
  }

  .rich-text h3 {
    margin-top: 48px;
  }

  .rich-text h1, .rich-text h2 {
    margin-top: 56px;
  }

  .rich-text h4 {
    margin-top: 40px;
  }

  .rich-text h5 {
    margin-top: 32px;
  }

  .rich-text h6 {
    margin-top: 24px;
  }

  .rich-text ul {
    font-size: 20px;
  }

  .color-block {
    margin-bottom: 20px;
  }

  .style-guide-section {
    padding: 64px 40px;
  }

  .heading.medium {
    font-size: 32px;
  }

  .heading.extra-small {
    font-size: 18px;
  }

  .heading.small {
    font-size: 20px;
  }

  .heading.regular {
    font-size: 24px;
  }

  .heading.extra-large {
    font-size: 42px;
  }

  .heading.large {
    font-size: 36px;
  }

  .button-secondary {
    width: 100%;
    font-size: 16px;
  }

  .style-guide-section-header {
    margin-bottom: 32px;
  }

  .block-quote {
    padding-left: 24px;
  }

  .style-guide-nav-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container {
    padding: 64px 40px;
  }

  .grid-2-column {
    grid-row-gap: 40px;
  }

  .work-item {
    margin-bottom: 24px;
  }

  .work-item:last-child {
    margin-bottom: 0;
  }

  .nav-menu {
    width: 232px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .logo-wrapper.mobile-menu, .logo-wrapper.mobile-menu-style-guide {
    margin-bottom: 48px;
  }

  .footer-flex-container-top {
    grid-column-gap: 24px;
    grid-row-gap: 40px;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    margin-bottom: 41px;
    padding-bottom: 48px;
    display: grid;
  }

  .footer-link {
    font-size: 16px;
  }

  .footer-list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column wrap;
  }

  .copyright-wrapper {
    flex-wrap: wrap;
  }

  .list-item {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }

  .list-wrapper.stacked-spacer {
    margin-bottom: 128px;
  }

  .about-image-wrapper {
    margin-top: 64px;
    margin-bottom: 64px;
    padding-top: 100%;
  }

  .project-image {
    border-radius: 0;
    margin-bottom: 16px;
  }

  .collection-item {
    width: 100vw;
    margin-left: -40px;
    margin-right: -40px;
  }

  .inset-card {
    border-radius: 0;
    width: 100vw;
    margin-left: -40px;
    padding: 64px 40px;
  }

  .work-content {
    padding: 8px 20px 20px 0;
  }

  .nav-menu-styleguide {
    width: 232px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-link-styleguide {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .button {
    width: 100%;
    font-size: 16px;
  }

  .list-item-tight {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }

  .footer-flex-container-bottom {
    grid-row-gap: 48px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .list {
    font-size: 18px;
  }
}

#w-node-_90f45157-70e1-d4fa-02cb-1e8f971a60e8-2a7ff5f2, #w-node-ff1c619c-2f2b-5947-8b9a-9095fafe448d-2a7ff5f2, #w-node-_5f082ec8-2f29-e558-60a2-ab9f19728ad3-2a7ff5f2, #w-node-e5e792ae-bc99-e543-014b-a4763b8f5520-2a7ff5f2, #w-node-e5e792ae-bc99-e543-014b-a4763b8f5524-2a7ff5f2, #w-node-e5e792ae-bc99-e543-014b-a4763b8f5525-2a7ff5f2, #w-node-eb45e9dc-0899-45f9-d173-4c4a9de90193-2a7ff5f2, #w-node-eb45e9dc-0899-45f9-d173-4c4a9de90196-2a7ff5f2, #w-node-eb45e9dc-0899-45f9-d173-4c4a9de901d9-2a7ff5f2, #w-node-eb45e9dc-0899-45f9-d173-4c4a9de901dc-2a7ff5f2, #w-node-e407d875-149e-f4b6-f076-dbf520229828-2a7ff5f2, #w-node-_979705e8-8da1-eb2c-3329-546459bdc86b-2a7ff5f2, #w-node-_979705e8-8da1-eb2c-3329-546459bdc887-2a7ff5f2, #w-node-c8253fb7-a37a-f1b7-0c88-04be10e15d00-2a7ff5f7, #w-node-_4ee1287b-929c-4ded-cbd8-2f85583b04bc-2a7ff5f7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-df2011f3-303e-ab54-16a1-cc29f624ca1b-2a7ff5fa {
  align-self: baseline;
}

#w-node-_42c291ba-075d-1c58-5f92-f7c1f9b08df4-2a7ff5fa, #w-node-f1316ac6-5b70-fd72-a3cd-5187b07c188f-2a7ff5fa, #w-node-_0b77f0ad-c87e-a5f3-0129-13d2dd007b99-2a7ff5fa, #w-node-_0b77f0ad-c87e-a5f3-0129-13d2dd007b9b-2a7ff5fa, #w-node-ea332967-f21c-efdb-8b90-f6b1484c62fb-2a7ff5fa, #w-node-fe800ec9-90e4-de29-a3e8-670bf59a6e8a-2a7ff5fa, #w-node-fe800ec9-90e4-de29-a3e8-670bf59a6e91-2a7ff5fa, #w-node-c8253fb7-a37a-f1b7-0c88-04be10e15d00-2a7ff5fc, #w-node-_028fe5b7-7832-daff-3e52-3586dca2047c-2a7ff5fc, #w-node-ad364e7f-f84e-ce7f-f840-d69a6b491ee4-2a7ff5fc, #w-node-_4881210e-0a4b-322c-9722-6b5691744da3-2a7ff5fc, #w-node-d6cde74b-2979-353b-0b1d-e7e8a3f8e311-2a7ff5fc, #w-node-cff024f6-b969-3182-9cfe-8c35d5a1eccb-2a7ff5fc, #w-node-b8ccb618-dfee-1532-8e28-9c8d3a82efeb-2a7ff5fc, #w-node-_620a19a9-45c1-2522-0c40-8a5721b03fa9-2a7ff5fc, #w-node-a11444ef-11ca-744e-9593-97e75ad34673-2a7ff5fc {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b37af788-9f5d-b919-96ac-6790b8dc6288-3af88bbe {
  align-self: baseline;
}

#w-node-b37af788-9f5d-b919-96ac-6790b8dc62b3-3af88bbe, #w-node-b37af788-9f5d-b919-96ac-6790b8dc62b5-3af88bbe, #w-node-b6fd31e3-9af7-8ccf-b081-f60100767672-3af88bbe, #w-node-b6fd31e3-9af7-8ccf-b081-f60100767674-3af88bbe, #w-node-fc4bfadb-ee2b-83fe-faaf-f7203e4a5f72-3af88bbe, #w-node-fc4bfadb-ee2b-83fe-faaf-f7203e4a5f74-3af88bbe, #w-node-b37af788-9f5d-b919-96ac-6790b8dc62cb-3af88bbe, #w-node-b37af788-9f5d-b919-96ac-6790b8dc62e2-3af88bbe, #w-node-b37af788-9f5d-b919-96ac-6790b8dc62e4-3af88bbe {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.woff2') format('woff2'), url('../fonts/Inter-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}